 /*Fix*/
 body { min-height: 411px !important; }
 footer.main-footer {max-height: 50px}

/*ShinyDashboardPlus Atmel logo override*/
.main-header .logo {
  padding: 0;
}

a.logo > span > img {
  background-color: white;
}

/*GC Footer */
.footer-wrapper{
  display:flex;
  flex-directiom:row;
  justify-content:space-between;
  /*align-items:center;*/
  flex-wrap: wrap;
}
.footer-copyright, .footer-build{
   font-size: large;
   font-weight: bold;
}
.footer-CanLogo{
  height: 20px;
  width: auto;
}
/*
.crestDFO{
  display:block;
  text-align:center;
}

.crestDFO > img{
  width: 75px;
  height: auto;
  border-radius: 45%;
}
.sideHR{
  border-top: 1px grey;
}
*/
