/*Atmel logo override*/
.main-header .logo {
  padding: 0;
}

/*
#ritchLogoText{
  color:red;
}
span#ritchLogoText::first-letter{
  font-weight: bold;
  color:yellow;
}

a > span.logo-lg::nth-letter(3){
  font-weight: bold;
  color:red;
}
//Todo, requires jquery possibly
*/
