/*ShinyDashboardPlus Atmel logo override*/
.main-header .logo {
  padding: 0;
}
/*
#ritchLogoText{
  color:green;
}
*/

/*GC Footer */
.footer-wrapper{
  display:flex;
  flex-directiom:row;
  justify-content:space-between;
  align-items:center;
  flex-wrap: wrap;
}
.footer-copyright, .footer-build{
   font-size: large;
   font-weight: bold;
}

